.ldsDualRing {
  display: inline-block;
  width: 70px;
  height: 70px;
}
.ldsDualRing:after {
  content: " ";
  display: block;
  width: 54px;
  height: 54px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: var(--hover) transparent var(--hover) transparent;
  animation: lds-dual-ring 1.2s ease infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
