.container {
  width: 900px;
  padding: 30px 0;
  background: var(--light-main);
  border-radius: 20px;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  overflow: hidden;
}
.buttonValidate {
  background-color: var(--hover);
  color: white;
  width: 180px;
  height: 45px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
.container h2 {
  font-size: 30px;
}

.container::after {
  content: "";
  background: linear-gradient(
    144.62deg,
    #39fbcc 0%,
    rgba(0, 255, 194, 0.47) 100%
  );
  transform: rotate(45deg);
  width: 300px;
  height: 600px;
  border-radius: 0;
  position: absolute;
  top: -210px;
  left: -130px;
}

.highlight {
  color: var(--hover);
}
