.container {
  flex: 1;
  background-color: var(--light-main);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.header h1 {
  margin: 25px 40px 5px;
  letter-spacing: 2px;
}

.containerGraph {
  flex: 1;
  background: var(--light-main);
  display: flex;
  width: 100%;
  overflow-x: hidden;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  overflow-y: scroll;
  position: relative;
}
.graphLeft,
.graphRight {
  position: relative;
  z-index: 1;
}
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0px;
  padding: 0;
}
.brandIcon {
  margin: 0;
  font-size: 25px;
  color: white;
  margin: 10px 20px 10px;
  cursor: pointer;
  transition: all ease 200ms;
}
.brandIcon:hover {
  color: var(--hover);
}
