.containerRank {
  border: 2px solid white;
  text-align: center;
  width: 60px;
  padding: 2px 0;
  border-radius: 10px;
  margin: 10px 5px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container p {
  margin: 0;
  padding: 0;
}
.data {
  color: white;
}
