.container {
  width: 100%;
}
.nav {
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  transition: color ease 200ms;
}
.nav:hover {
  color: var(--hover);
}
@media all and (max-height: 848px) {
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav p {
    display: none;
  }
}
