.container {
  background: var(--dark-main);
  height: 100%;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding: 0 0 20px 0;
}
.mapRank {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
