.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  min-width: 270px;
}
.item p,
.icon {
  margin: 10px 0;
}
.icon {
  color: var(--hover);
  font-size: 40px;
}
.data {
  font-size: 30px;
  color: white;
}
.label {
  font-size: 20px;
  color: #a8a6a6;
}
