@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --dark-main: #162036;
  --light-main: #2e3448;
  --box: #252b3f;
  --hover: #1ec099;
  --orange: #ff9f40;
  --rose: #ff6384;
  --yellow: #ffd76e;
  --green: #72c904;
  --white: #ffffff;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
