.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  border: none;
  border-radius: 20px;
  padding: 20px;
  background: var(--box);
  color: white;
  margin: 20px 10px;
}
@media all and (max-width: 947px) {
  .container {
    width: 50vw !important;
    min-width: 400px;
  }
}
