.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboardContainer {
  display: flex;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
}

.connectForm {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
