.container {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
@media all and (max-height: 952px) {
  .container {
    margin: 30px 0 0 0 !important;
  }
  .container h2 {
    margin: 0px 0 0 0 !important;
  }
}

@media all and (max-width: 740px) {
  .img {
    width: 20vw !important;
    height: 20vw !important;
  }
  .container h2 {
    font-size: 3vw;
  }
}
.img {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}
.container h2 {
  margin: 30px 0 0 0;
  padding: 0;
}
